@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size: 14px;
        --font_size_title: 32px;
    }


    .block.big_m
    {
        margin-bottom: 80px;
    }



    /*----------
        Tabs
    ----------*/
    .tabs
    {
        margin-bottom: 12px;
    }


    .tabs .btn[data-level='level1']
    {
        font-size: 14px;
    }



    /*--------------
        Fancybox
    --------------*/
    .fancybox__slide
    {
        padding: 20px;
    }



    /*---------------
        Accordion
    ---------------*/
    .accordion_item
    {
        padding: 0 0 24px;
    }


    .accordion_item .head .title
    {
        width: calc(100% - 48px);
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header .logo img
    {
        height: 20px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head .row
    {
        margin-top: 24px;
    }


    .page_title,
    .page_title.small
    {
        font-size: 36px;
    }


    * + .page_title
    {
        margin-top: 24px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .desc
    {
        font-size: 14px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block h2
    {
        font-size: 24px;
    }

    .text_block h3
    {
        font-size: 20px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .data
    {
        width: 100%;
    }


    .first_section .title
    {
        font-size: 36px;
    }


    .first_section .desc
    {
        width: 240px;
    }


    .first_section .image
    {
        bottom: -48px;

        width: calc(100% - 248px);
    }


    .first_section .bg
    {
        right: 0;
        left: auto;

        width: 680px;
        height: 400px;
    }



    /*-----------
        Order
    -----------*/
    .order .form
    {
        margin-left: 0;
    }


    .order .form .line,
    .order .form .submit
    {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
    }



    /*--------------
        Services
    --------------*/
    .services .service .link
    {
        margin-top: 24px;
        padding: 0;
    }


    .services .service .image,
    .services .service .image.small
    {
        position: relative;
        right: 0;
        bottom: 0;

        width: 100%;
        margin: 40px auto 0;
    }



    /*--------------
        Projects
    --------------*/
    .projects .swiper-slide
    {
        width: 300px;
    }


    .projects .project .info
    {
        padding: 20px;
    }


    .projects .project .arr
    {
        width: 32px;
        height: 32px;
    }


    .projects .project .arr .icon
    {
        width: 24px;
        height: 24px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .about .title
    {
        font-size: 20px;

        margin-bottom: 20px;
    }



    /*------------------
        Action block
    ------------------*/
    .action_block .data
    {
        padding-bottom: 180px;

        text-align: center;
    }


    .action_block .block_head
    {
        justify-content: center;

        width: 100%;
        margin-bottom: 24px;
    }


    .action_block .btn
    {
        font-size: 14px;

        padding: 12px 24px;
    }


    .action_block .img
    {
        right: 0;
        left: 0;

        width: 224px;
        height: 152px;
        margin: 0 auto;
        padding: 16px;
    }



    /*----------------
        Routes map
    ----------------*/
    .routes_map .route .path
    {
        margin-bottom: 28px;
    }


    .routes_map .route .path .line
    {
        margin-top: 24px;
    }


    .routes_map .route .info
    {
        width: 100%;
        margin-bottom: 24px;
    }



    /*-------------------
        Projects list
    -------------------*/
    .projects_list .head .title
    {
        font-size: 20px;
    }


    .projects_list .project,
    .projects_list .project.open
    {
        padding: 24px;
    }


    .projects_list .project .info
    {
        order: 1;

        width: 100%;
    }


    .projects_list .project .thumb
    {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }


    .projects_list .project .data
    {
        order: 3;

        padding-bottom: 0;
    }


    .projects_list .project .data .name
    {
        display: none;
    }


    .projects_list .project .features
    {
        margin-top: 0;
    }


    .projects_list .project .features .val
    {
        font-size: 16px;
    }



    /*------------------
        Project info
    ------------------*/
    .project_info .head .desc
    {
        font-size: 16px;
    }



    .project_info .our_advantages .row
    {
        margin-left: 0;
    }


    .project_info .our_advantages .row > *
    {
        width: 100%;
        margin-left: 0;
    }



    /*--------------------
        Other projects
    --------------------*/
    .other_projects .project .name
    {
        font-size: 16px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .main_article
    {
        min-height: 0;
        padding: 0;

        color: var(--text_color);
    }


    .articles .main_article .thumb
    {
        position: relative;

        height: auto;
        margin-bottom: 20px;
        padding-bottom: 50%;
    }


    .articles .main_article .date
    {
        margin-bottom: 16px;
        padding-bottom: 0;
    }


    .articles .main_article .name
    {
        font-size: 18px;

        color: var(--text_color);
    }


    .articles .main_article .desc
    {
        color: var(--text_color);
    }



    .articles .row
    {
        margin-left: 0;
    }


    .articles .row > *
    {
        width: 100%;
        margin-left: 0;
    }



    .articles .list .article .thumb
    {
        width: 100%;
        height: auto;
    }


    .articles .list .article .thumb img
    {
        height: auto;
    }


    .articles .list .article .info
    {
        order: 2;

        width: 100%;
        max-width: 100%;
        margin-top: 20px;
    }


    .articles .list .article .name
    {
        font-size: 16px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .head .desc
    {
        font-size: 16px;
    }



    /*--------------------
        Other articles
    --------------------*/
    .other_articles .article .name
    {
        font-size: 16px;
    }



    /*-------------------
        Services head
    -------------------*/
    .services_head .data .methods
    {
        margin-bottom: 40px;
        margin-left: 0;
    }


    .services_head .data .methods .label
    {
        width: 100%;
        margin-bottom: 8px;
        margin-left: 0;
    }


    .services_head .data .methods .vals
    {
        max-width: calc(100% + 12px);
        margin-left: -12px;
    }


    .services_head .data .methods .vals > *
    {
        margin-bottom: 12px;
        margin-left: 12px;
        padding: 4px 16px;
    }


    .services_head .data .btn
    {
        font-size: 14px;

        padding: 16px 28px;
    }



    .services_head .advantages .grid
    {
        grid-template-columns: repeat(2, 1fr);
    }


    .services_head .advantages .item.big
    {
        grid-row: auto / auto;
    }

    .services_head .advantages .item.big:not(.no_mob_pad)
    {
        padding-bottom: 100px;
    }


    .services_head .advantages .item
    {
        padding: 16px;
    }


    .services_head .advantages .title
    {
        font-size: 22px;
    }


    .services_head .advantages .items
    {
        margin-bottom: -24px;
        margin-left: 0;
    }


    .services_head .advantages .items > *
    {
        width: 100%;
        margin-bottom: 24px;
        margin-left: 0;
    }



    /*-------------------
        Services grid
    -------------------*/
    .services_grid .row > *,
    .services_grid .row > *.middle,
    .services_grid .row > *.big
    {
        width: calc(50% - 16px);
    }


    .services_grid .item
    {
        min-height: 180px;
        padding: 15px;
    }

    .services_grid .item.big,
    .services_grid .item.white,
    .services_grid .item.bg,
    .services_grid .item.very_big
    {
        padding: 16px;
    }


    .services_grid .item.big .icon
    {
        width: 80px;
        height: 80px;
    }


    .services_grid .item.very_big .name
    {
        font-size: 18px;

        width: 100%;
    }


    .services_grid .item.very_big .desc
    {
        width: 100%;
    }


    .services_grid .item.very_big .icon
    {
        display: none;
    }



    /*-------------------
        Services list
    -------------------*/
    .services_list .item
    {
        padding: 0;
    }

    .services_list .item + .item
    {
        margin-top: 24px;
        padding-top: 24px;
    }


    .services_list .item .info
    {
        order: 2;

        width: 100%;
    }


    .services_list .item .name
    {
        font-size: 22px;
    }


    .services_list .item .sub > * + *
    {
        margin-top: 8px;
    }


    .services_list .item .link
    {
        margin-top: 24px;
    }


    .services_list .item .thumb
    {
        width: 100%;
        height: auto;
        margin-bottom: 24px;
    }



    /*------------------
        Service info
    ------------------*/
    .service_info .grid
    {
        display: flex;
        flex-direction: column;

        gap: 24px ;
    }


    .service_info .item .title
    {
        font-size: 18px;

        margin-bottom: 0;
    }


    .service_info .item .image
    {
        margin-top: 24px;
    }



    /*--------------------
        Service prices
    --------------------*/
    .service_prices .row > *
    {
        width: calc(50% - 16px);
    }


    .service_prices .item.shadow .icon
    {
        width: 80px;
        height: 80px;
    }


    .service_prices .item
    {
        padding: 15px;
    }

    .service_prices .item.bg,
    .service_prices .item.white
    {
        padding: 16px;
    }



    /*----------------------------
        Cooperation advantages
    ----------------------------*/
    .cooperation_advantages .thumb
    {
        width: 100%;
        height: auto;
        margin-bottom: 24px;
        padding-bottom: 75%;
    }


    .cooperation_advantages .text_block
    {
        width: 100%;
    }



    /*---------------
        Questions
    ---------------*/
    .questions .row
    {
        margin-left: 0;
    }


    .questions .row > *
    {
        width: 100%;
        margin-left: 0;
    }



    /*---------------
        Solutions
    ---------------*/
    .solutions .row
    {
        margin-left: 0;
    }


    .solutions .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .solutions .item
    {
        padding: 23px;
    }


    .solutions .item .name
    {
        font-size: 16px;
    }


    .solutions .item .desc
    {
        margin-bottom: 40px;
    }



    /*-------------------
        Solution info
    -------------------*/
    .solution_info .head .desc
    {
        font-size: 16px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .image
    {
        padding: 68px 24px 0;
    }


    .about_info .stats .row
    {
        margin-left: 0;
    }


    .about_info .stats .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .about_info .stats .item
    {
        padding: 20px;
    }


    .about_info .stats .item .exp
    {
        margin-top: 4px;
    }



    /*----------------
        Guarantees
    ----------------*/
    .guarantees .row > *,
    .guarantees .item.big
    {
        width: calc(50% - 16px);
        max-width: calc(50% - 16px);
    }


    .guarantees .item,
    .guarantees .item.shadow
    {
        min-height: 200px;
        padding: 15px;
    }


    .guarantees .item.shadow .icon
    {
        height: 68px;
    }


    .guarantees .item.big,
    .guarantees .item.bg
    {
        padding: 16px;
    }


    .guarantees .item.big .icon
    {
        width: 80px;
        height: 80px;
    }



    .guarantees .desc
    {
        padding: 16px;
    }



    /*-------------
        Persons
    -------------*/
    .persons .row > *
    {
        width: calc(50% - 24px);
    }


    .persons .person .name
    {
        font-size: 16px;
    }



    /*-----------
        Certs
    -----------*/
    .certs .row
    {
        margin-left: 0;
    }


    .certs .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .certs .cert .name
    {
        font-size: 22px;
    }



    /*------------
        Footer
    ------------*/
    footer .contacts
    {
        align-content: flex-start;
        align-items: flex-start;
    }


    footer .contacts .check_order_btn
    {
        position: absolute;
        top: 100%;
        right: 0;

        margin-top: -4px;
        margin-left: 0;
    }
}
